<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Car Sales Area</title>
    </head>
    <body>
    <main>
        <!--Header-->
        <header>
            <h1>Car Sales Area</h1>
            <a (click)="onCarCreation()">Create new addverticement</a>
        </header>

        <router-outlet></router-outlet>

        <!--Footer-->
        <footer>
            <span class="footer-item">
            <h4>Kharkiv</h4>
            <p>(050) 478-02-22</p>
            <h5>Address:</h5>
            <p>
            г. Харьков, пр-т Юбилейный 182,<br>
            территория авторынка "Барабашово",<br>
            ст. м. Академика Барабашова.<br>
            </p>
            <h5>Work days:</h5>
            <p>
            пн - сб 9:00 - 19:00<br>
            вс 09:00 - 16:00<br>
            </p>
            </span>
            
            <span class="footer-item">
            <h4>Kyiv</h4>
            <p>(050) 478-02-22</p>
            <h5>Address:</h5>
            <p>
            г. Киев, перекресток по Академика<br>
            Глушкова и ул. Василия Касияна,<br>
            ст. м. Ипподром<br>
            </p>
            <h5>Work days:</h5>
            <p>
            пн - сб 9:00 - 19:00<br>
            вс 09:00 - 16:00<br>
            </p>
            </span>

            <span class="footer-item">
            <h4>Instagram</h4>
            <img src="../../../assets/instagram.png" alt="Instagram link label">
            </span>
        </footer>
    </main>
    </body>
</html>