p{
    margin: 0 auto;
    padding: 3px;
    float: left;
}

div {
    margin: 0;
    border-bottom: 1px solid gray;
    width: 300px; 
}

span{
    width: 300px; 
    display: inline;
    float: left;
}

img{
    position: relative;
}

.item{
    margin: 1em;
    width: 300px;
    display: inline;
}

.item.is-selected {
    opacity: 50%;
}

img.is-selected-hovering{
    opacity: 50%;
}

#price{
    position: relative;
    padding: 6px 10px 4px 4px;
    background: greenyellow;
    float: right;
}