<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Car Sales Area</title>
    </head>
    <body>
    <main>
        <header>
            <h1>Car Sales Area</h1>
        </header>
        <section>
            <article>
                <car-search-form></car-search-form>
            </article>
            <article>
                <h2>
                    Cars' catalog
                </h2>
                <car-item *ngFor="let carItem of carItems.value"
                [car]="carItem"
                (delete)="onMediaItemDelete($event)"></car-item>
            </article>
        </section>
    </main>
    </body>
</html>