.item{
    margin: 1em;
    width: 300px;
}

p{
    margin: 0 auto;
    padding: 3px;
    float: left;
}

div {
    margin: 0;
    border-bottom: 1px solid gray; 
}

img{
    position: relative;
}

#price{
    position: relative;
    padding: 6px 10px 4px 4px;
    background: greenyellow;
    float: right;
}